.litepicker .container__main {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
}

.litepicker .container__months {
    display: flex;
}

.litepicker .container__months .month-item:first-child .month-item-header {
    border-top-left-radius: 0.25rem;
    border: 1px solid #e4e4e7;
    border-right-width: 0;
}

.litepicker .container__months .month-item:last-child .month-item-header {
    border-top-right-radius: 0.25rem;
    border: 1px solid #e4e4e7;
    border-left-width: 0;
}

.litepicker .container__months .month-item-header {
    display: flex;
    padding: 0.5rem;
    font-size: 0.875rem;
    border: 1px solid #be123c;
    background-color: #e11d48;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.litepicker .container__months .month-item-header div {
    flex: 1;
}

.litepicker .container__months .month-item-header div > .month-item-name {
    margin-right: 0.25rem;
}

.litepicker .container__months .month-item-header div > .month-item-year {
    padding: 0;
}

.litepicker .container__months .month-item-header .button-previous-month, .litepicker .container__months .month-item-header .button-next-month {
    visibility: hidden;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 3px;
    transition: color 0.3s, border 0.3s;
    cursor: default;
}

.litepicker .container__months .month-item-header .button-previous-month *, .litepicker .container__months .month-item-header .button-next-month * {
    pointer-events: none;
}

.litepicker .container__months .month-item-weekdays-row {
    display: grid;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    grid-template-columns: repeat(8, 1fr);
    color: #71717a;
}

.litepicker .container__months .month-item-weekdays-row > div {
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.litepicker .container__months .month-item:first-child .button-previous-month {
    visibility: visible;
}

.litepicker .container__months .month-item:last-child .button-next-month {
    visibility: visible;
}

.litepicker .container__months .month-item.no-previous-month .button-previous-month {
    visibility: hidden;
}

.litepicker .container__months .month-item.no-next-month .button-next-month  {
    visibility: hidden;
}

.litepicker .container__days {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.litepicker .container__days > div, .litepicker .container__days > a {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.litepicker .container__days .day-item {
    color: #111827;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    border-radius: 0.125rem;
    cursor: pointer;
}

.litepicker .container__days .day-item:hover {
    color: #2563EB;
    box-shadow: inset 0 0 0 1px #047857;
}

.litepicker .container__days .day-item.is-today {
    color: #B91C1C;
}

.litepicker .container__days .day-item.is-locked {
    color: #9CA3AF;
}

.litepicker .container__days .day-item.is-locked:hover {
    color: #9CA3AF;
    box-shadow: none;
    cursor: not-allowed;
}

.litepicker .container__days .day-item.is-in-range {
    background-color: #BFDBFE;
    color: #1E40AF;
    border-radius: 0;
}

.litepicker .container__days .day-item.is-start-date {
    color: #DBEAFE;
    background-color: #1D4ED8;
    border-radius: 5px 0 0 5px;
}

.litepicker .container__days .day-item.is-start-date.is-flipped {
    border-radius: 0 5px 5px 0;
}

.litepicker .container__days .day-item.is-end-date {
    color: #DBEAFE;
    background-color: #1D4ED8;
    border-radius: 0 5px 5px 0;
}

.litepicker .container__days .day-item.is-end-date.is-flipped {
    border-radius: 5px 0 0 5px;
}

.litepicker .container__days .day-item.is-start-date.is-end-date {
    border-radius: 5px;
}

.litepicker .container__days .day-item.is-highlighted {
    color: #78350F;
    background-color: #FCD34D;
}

.litepicker .container__days .week-number {
    color: #D1D5DB;
    font-size: 0.75rem;
}

.litepicker .container__footer {
    text-align: right;
    padding: 10px 5px;
    margin: 0 5px;
    background-color: var(--litepicker-footer-color-bg);
    box-shadow: inset 0px 3px 3px 0px var(--litepicker-footer-box-shadow-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.litepicker .container__footer .preview-date-range {
    margin-right: 10px;
    font-size: 90%;
}

.litepicker .container__footer .button-cancel {
    background-color: var(--litepicker-button-cancel-color-bg);
    color: var(--litepicker-button-cancel-color);
    border: 0;
    padding: 3px 7px 4px;
    border-radius: 3px;
}

.litepicker .container__footer .button-cancel * {
    pointer-events: none;
}

.litepicker .container__footer .button-apply {
    background-color: var(--litepicker-button-apply-color-bg);
    color: var(--litepicker-button-apply-color);
    border: 0;
    padding: 3px 7px 4px;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.litepicker .container__footer .button-apply:disabled {
    opacity: 0.7;
}

.litepicker .container__footer .button-apply * {
    pointer-events: none;
}

.litepicker .container__tooltip {
    position: absolute;
    margin-top: -4px;
    padding: 4px 8px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    background-color: white;
    font-size: 0.75rem;
    white-space: nowrap;
    pointer-events: none;
    visibility: hidden;
}

.litepicker .container__tooltip:before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    border-top: 5px solid rgba(0, 0, 0, 0.12);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
}

.litepicker .container__tooltip:after {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
    border-top: 4px solid var(--litepicker-tooltip-color-bg);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
