
.litepicker .container__days > div, .litepicker .container__days > a {
    @apply w-8 h-8 flex items-center justify-center;
}

.litepicker .container__days .day-item {
    color: theme('colors.gray.900');
    @apply text-sm font-medium text-center rounded-sm transition cursor-pointer;
}

.litepicker .container__days .day-item:hover {
    color: theme('colors.blue.600');
    box-shadow: inset 0 0 0 1px theme('colors.green.700');
}

.litepicker .container__days .day-item.is-today {
    color: theme('colors.red.700');
}

.litepicker .container__days .day-item.is-locked {
    color: theme('colors.gray.400');
}

.litepicker .container__days .day-item.is-locked:hover {
    color: theme('colors.gray.400');
    box-shadow: none;
    cursor: not-allowed;
}

.litepicker .container__days .day-item.is-in-range {
    background-color: theme('colors.blue.200');
    color: theme('colors.blue.800');
    border-radius: 0;
}

.litepicker .container__days .day-item.is-start-date {
    color: theme('colors.blue.100');
    background-color: theme('colors.blue.700');
    border-radius: 5px 0 0 5px;
}

.litepicker .container__days .day-item.is-start-date.is-flipped {
    border-radius: 0 5px 5px 0;
}

.litepicker .container__days .day-item.is-end-date {
    color: theme('colors.blue.100');
    background-color: theme('colors.blue.700');
    border-radius: 0 5px 5px 0;
}

.litepicker .container__days .day-item.is-end-date.is-flipped {
    border-radius: 5px 0 0 5px;
}

.litepicker .container__days .day-item.is-start-date.is-end-date {
    border-radius: 5px;
}

.litepicker .container__days .day-item.is-highlighted {
    color: theme('colors.yellow.900');
    background-color: theme('colors.yellow.300');
}

.litepicker .container__days .week-number {
    color: theme('colors.gray.300');
    @apply text-xs;
}

.litepicker .container__footer {
    text-align: right;
    padding: 10px 5px;
    margin: 0 5px;
    background-color: var(--litepicker-footer-color-bg);
    box-shadow: inset 0px 3px 3px 0px var(--litepicker-footer-box-shadow-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.litepicker .container__footer .preview-date-range {
    margin-right: 10px;
    font-size: 90%;
}

.litepicker .container__footer .button-cancel {
    background-color: var(--litepicker-button-cancel-color-bg);
    color: var(--litepicker-button-cancel-color);
    border: 0;
    padding: 3px 7px 4px;
    border-radius: 3px;
}

.litepicker .container__footer .button-cancel * {
    pointer-events: none;
}

.litepicker .container__footer .button-apply {
    background-color: var(--litepicker-button-apply-color-bg);
    color: var(--litepicker-button-apply-color);
    border: 0;
    padding: 3px 7px 4px;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
}

.litepicker .container__footer .button-apply:disabled {
    opacity: 0.7;
}

.litepicker .container__footer .button-apply * {
    pointer-events: none;
}

.litepicker .container__tooltip {
    position: absolute;
    margin-top: -4px;
    padding: 4px 8px;
    border-radius: 4px;
    @apply bg-white shadow-sm text-xs;
    white-space: nowrap;
    pointer-events: none;
    visibility: hidden;
}

.litepicker .container__tooltip:before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    border-top: 5px solid rgba(0, 0, 0, 0.12);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: "";
}

.litepicker .container__tooltip:after {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
    border-top: 4px solid var(--litepicker-tooltip-color-bg);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
